<h2>Area de vacante</h2>
<div class="container">
	<%= render "admins_dashboard/partials/dashboard-nav" %>
	<%= render "errors/errors", object: @job_type %>
	<%= render "job_types/partials/form" %>
</div>
