<h2>Carrera de interés para vacante</h2>
<div class="container footer_margin">
	<%= render "admins_dashboard/partials/dashboard-nav" %>
	<%= render "errors/errors", object: @job_type %>
	<%= render "job_types/partials/form" %>
</div>
