<h2>Entrevistas</h2>
<% if current_user.roleable_type == "Company" %>
	<%= render "interviews/partials/from_companies" %>
<% elsif current_user.roleable_type == "Admin" %>
	<%= render "interviews/partials/from_admin" %>
<% else %>
	<div class="alert alert-warning">
		<p class="bold center">No tienes permiso de acceder a ésta página.</p>
	</div>
	<%= link_to "Regresar", root_path, class: 'btn btn-info' %>
<% end %>
