<h2>Entrevistas</h2>
<div class="container">
	<%= render "companies_dashboard/partials/dashboard-nav" %> 
	<%= render "errors/errors", object: @interview%>	
	<%= render "interviews/partials/form" %>
</div>
