<h2>Bienvenido a su perfil <%= current_user.roleable.company_name %></h2>
<div class="left">
	<div class="list-group side_nav">
		<%= link_to "Editar datos de la empresa", "http://google.com", class: 'list-group-item'  %>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
