<h2>Bienvenido a su perfil <%= current_company.company_name %></h2>
<div class="left">
	<div class="list-group side_nav">
		<%= link_to "Editar datos de la empresa", edit_company_registration_path, class: 'list-group-item'  %>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
