<h2>Vacante</h2>
<div class="container footer_margin">
	<%= render "companies_dashboard/partials/dashboard-nav" %>
	<%= render "errors/errors", object: @job %>
	<%= render "jobs/partials/form" %>
</div>
