<h2>Idioma</h2>
<div class="container footer_margin">
	<%= render "students_dashboard/partials/dashboard-nav" %>
	<%= render "errors/errors", object: @language %>
	<%= render "languages/partials/form" %>
</div>
