<h2>Experiencia laboral</h2>
<div class="container render-form">
	<%= render "students_dashboard/partials/dashboard-nav" %>
	<%= render "errors/errors", object: @former_job %>
	<%= render "former_jobs/partials/form" %>
</div>
