<h2>Bienvenido a tu perfil <%= @user.roleable.first_name %></h2>
<div class="left">
	<div class="list-group side_nav">
		<%= link_to "Editar datos personales", "google.com", class: 'list-group-item'  %>
		<%= link_to "Agregar estudios", "google.com", class: 'list-group-item'  %>
		<%= link_to "Verificar mis datos", "google.com", class: 'list-group-item' %>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


