<h2>Bienvenido a tu perfil <%= current_student.first_name %></h2>
<div><a class="btn btn-primary" href="students/edit">Editar Perfil</a></div><br />
<div><a class="btn btn-primary" href="students/<%=current_student.id%>">Verificar datos</a></div><br />
