<%= image_tag "logo900p.png", class: 'logo_image'%>

<h2>Bolsa de Trabajo CUSur</h2>
<div class="center">
	<h3>Descripción del Servicio</h3>
	<div class="container">
		<p>
		El Centro Universitario del Sur como parte de la Red Universitaria de la Universidad de Guadalajara está comprometido con sus egresados para apoyarlos a entrar al sector productivo de una manera existosa, a través de vinculación con empresas líderes en sus ramas y de ésta forma contribuir con su desarollo profesional
		</p>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>


