<h2>Premio o distincion</h2>
<div class="container footer_margin">
	<%= render "students_dashboard/partials/dashboard-nav" %>
	<%= render "errors/errors", object: @award %>
	<%= render "academic_awards/partials/form" %>
</div>
