<% if current_user.roleable_type == "Admin" and user_signed_in? %>
	<h2>Bienvenido al panel administrativo <%= current_user.roleable.name %></h2>
	<div class="container">
		<%= render "admins_dashboard/partials/dashboard-nav" %>
		<%= render "admins_dashboard/partials/show_personal_data" %>
	</div>
<% else %>
	<%= render "errors/permission_denied" %>
<% end %>
