<h2>Domicilio</h2>
<div class="container footer_margin">

	<% if current_user.roleable_type == "Student" %>
		<%= render "students_dashboard/partials/dashboard-nav" %>
	<% else %>
		<%= render "companies_dashboard/partials/dashboard-nav" %>
	<% end %>
	<%= render "errors/errors", object: @address %>
	<%= render "addresses/partials/form" %>
</div>
