<form class="dashboard-data">
	<div class="form-group">
		<label class="dashboard-item-title"> Nombre(s) </label>
		<input type="text" class="form-control" placeholder="<%= @admin.name %>" readonly disabled>


		<label class="dashboard-item-title">Apellido paterno</label>
		<input type="text" class="form-control" placeholder="<%= @admin.last_name%>" readonly disabled>

		<label class="dashboard-item-title">Apellido materno </label>
		<input type="text" class="form-control" placeholder="<%= @admin.last_m_name%>" readonly disabled>

	</div>
</form>
