// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo_image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 25%;
	max-height: 30%;
	height: auto;
}
