// Place all the styles related to the StudentsDashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard_data {
	width: 71%;
	float: right;
	margin: 10px;
	padding: 10px;
}
