<h2>Carrera</h2>
<div class="container footer_margin">
	<%= render "students_dashboard/partials/dashboard-nav" %>
	<%= render "errors/errors", object: @education %>
	<%= render "educations/partials/form" %>
</div>
